@use '../styles/colors';

.carousel-upstair {
    margin: 0 auto;
    z-index: 0;
    width: 92% !important;
    background-image: linear-gradient(to bottom,
            transparent 0%,
            colors.$AshA1 20%,
            colors.$AshA2 60%,
            transparent 80%);
    box-shadow: 0px 0px 100px colors.$Birch inset;
    user-select: none;


    h1 {
        font-family: 'cinzel';
        text-align: center;
        margin: 0 auto;
        padding: 15vh 0 4vh 0;
        text-shadow: 0 0 15px colors.$Vanilla;
        width: 80%;
    }

    h2 {
        font-family: 'cinzel';
        font-size: 2vw;
        text-align: center;
        margin: 0 auto;
        padding: 1vh 0 4vh 0;
        text-shadow: 0 0 15px colors.$Vanilla;
        width: 70%;
    }

    .carousel-item {
        
        img {
            min-height: 30vw;
            max-height: 60vh;
            height: auto;
            user-select: none;
            margin: 16vh auto;
            border: 2px solid colors.$Millbrook;
            border-radius: 10px;
            box-shadow: 0 0 5px colors.$Vanilla;

        }
    }

    p,
    ul {
        padding: 0;
        font-size: 2vh;
        list-style-type: none;
        margin: 0 auto;
        width: 60%;
        text-align: center;
    }

    li {
        padding-block: 1.5vh;
    }

    ;
}



// ------------------------------------- MEDIA QUERRIES --------------------------------------



@media only screen and (max-width: 768px) {
    .carousel-upstair {
        width: 100%;
        background-image: linear-gradient(to bottom,
                transparent 0%,
                colors.$AshA1 15%,
                colors.$AshA2 70%);

        h2 {
            font-size: 3vw;
        }

        p,
        ul {
            font-size: 2.5vw;
            width: 90%;
        }
    }

}

@media only screen and (max-width: 576px) {
    .carousel-upstair {
        width: 100%;
        background-image: linear-gradient(to bottom,
                transparent 0%,
                colors.$AshA1 15%,
                colors.$AshA2 47%);

        .carousel-item {
            height: 100%;
            padding: 0;
            }

        h2 {
            font-size: 5vw;
        }

        p,
        ul {
            width: 90%;
            font-size: 4vw;
        }
    }
}