$Ash: #cabfb3;
$AshA: #cabfb3dd;
$AshA1: #cabfb3b9;
$AshA2: #cabfb369;

$Birch: #393121;

$Millbrook: #644c3a;
$MillbrookA: #644c3ab9;

$YellowMetal: #70643f;
$YellowMetalA: #70643fc6;

$Vanilla: #F3E5AB;

$ice: #70edfd;
$thin-ice: #baf7ff79;

$Basic-font: "Cinzel", Comic Sans MS;

.cinzel {
    font-family: "Cinzel" !important;
    font-weight: bold;
}

.note {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 1.6vh;
}