@use '../styles/colors';



header {

    .navbar {
        padding: 0vh 4vh 0vh 4vh;
        top: 1vh;
        position: fixed;
        align-items: center;
        z-index: 5;
        box-shadow: 0 0px 10px colors.$Birch;

        .mainLogo {
            display: block;
            user-select: none;
            padding-block: 10px;

            img {
                transition: 300ms;
                height: 6vh;
                border-radius: 50% / 20%;
                border: 3px colors.$Millbrook solid;

                &:hover {
                    border-radius: 50%;
                    box-shadow: 0 0 5px colors.$Vanilla;
                }

                &:active {
                    box-shadow: 0 0 5px colors.$Birch;
                }
            }
        }

        .navbar-nav {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;

            user-select: none;
            font-family: colors.$Basic-font;

            .nav-list-item {

                a {
                    font-size: 2vh;
                    color: colors.$Birch;

                    &:hover {
                        scale: 1.1;
                    }
                }

                .dropdown-menu {
                    background-color: colors.$Ash !important;
                    border: none;

                    .dropdown-item {
                        color: colors.$Birch;
                        text-wrap: wrap;
                        font-size: 1rem;


                        &:hover {
                            transition: 400ms;
                            background-color: colors.$Birch !important;
                            color: colors.$Vanilla;
                            border-radius: 1rem;
                        }
                    }
                }
            }

            .reservation a {
                border-radius: 10px;
                background-color: colors.$Birch;
                color: colors.$Vanilla;

                &:hover {
                    transition: 300ms;
                    color: colors.$Vanilla;
                    box-shadow: 0px 0px 10px colors.$Birch;

                }
            }


        }

        button.navbar-toggler {
            border: none;
            outline: none;
            width: 100%;
        }

        .navbar-toggler-icon {
            background-image: url('../images/logo.jpg');
            width: 8vh;
            height: 8vh;
            border-radius: 50% / 20%;
            border: 3px colors.$Millbrook solid;
        }
    }
}



// ------------------------------------- MEDIA QUERRIES --------------------------------------



@media only screen and (max-width: 1400px) {

    .mainLogo {
        padding-top: 10px;
    }

    a.facebook,
    a.tiktok,
    a.messenger {
        font-size: 2vh !important;
        margin: 0vh 2vw;
    }
}

@media only screen and (max-width: 1200px) {}


@media only screen and (max-width: 992px) {

    nav {
        .mainLogo {
            display: none !important;
        }

        .reservation {
            margin-block: 3vh;
            width: 40%;
            min-width: 200px;

        }
    }
}

@media only screen and (max-width: 576px) {


    a.facebook,
    a.tiktok,
    a.messenger {
        margin: 2vh 5vw;

    }

}