@use '../styles/colors';
@use '../styles/fonts';

.serviceBox {
    margin: 0 auto;
    padding: 0 6vw 0vh 6vw;
    width: 80%;
    text-align: center;
    background-image: linear-gradient(to bottom, transparent, colors.$AshA2 5% 95%, transparent);
    font-family: fonts.$Basic-font;
    font-size: 2vh;
    outline: 1px solid colors.$AshA1;
    box-shadow: 0px 0px 100px colors.$Birch inset;
    overflow: hidden;
    user-select: none;

    h1 {
        padding: 15vh 0 4vh 0;
        text-shadow: 0 0 5px colors.$Vanilla;
        font-weight: bold;
    }

    ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        list-style-type: none;
        gap: 3vh;

        .icon {
            gap: 1vh;
            padding: 50px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            user-select: none;
            width: 40%;
            color: colors.$Birch;
            border-radius: 5rem;
            border: none !important;
            background-color: transparent;
            transition:
                transform 400ms,
                box-shadow 400ms,
                background-color 400ms,
                font-weight 400ms;

            img {
                width: 6vw;
            }

            strong {
                font-size: 4vh;
            }

            &.shadow {
                box-shadow: 0 0 10px colors.$Birch !important;
                border-radius: 6rem;
                transform: scale(1.05);
                background-color: colors.$AshA2;

                p {
                    font-weight: 600;
                    transition: 400ms;
                    text-align: center;
                }
            }

        }

        li:nth-child(7),
        li:nth-child(11) {
            img {
                scale: 1.2;
            }
        }

        li:nth-child(7),
        li:nth-child(2) {
            strong {
                padding: 0;
            }
        }
    }

    .reserve {
        font-weight: bold;
        font-family: fonts.$Basic-font;
        font-size: 2vh;
        margin: 20vh auto 0vw auto;
        padding: 3vh 0vh 1vh 0;
        letter-spacing: 1vh;
        text-align: center;
        background-color: colors.$MillbrookA;
        width: 100%;
        border-radius: 50% 50% 10% 10% / 100% 100% 0% 0%;
        box-shadow: 0px 0px 5px colors.$Vanilla;

        &:hover {
            box-shadow: 0px 0px 10px colors.$Vanilla;
        }

        a {
            color: colors.$Vanilla;
            text-decoration: none;
            font-size: 4vw;
            text-shadow: 1px 1px 3px black;
            transition: text-shadow 300ms;

            &:hover {
                color: colors.$Vanilla;
                text-shadow: 1px 1px 10px colors.$Vanilla;
            }
        }
    }
}

//* ------------------------------------------------------------------
//* ------------ MEDIA QUERRIES --------------------------------------
//* ------------------------------------------------------------------

@media only screen and (max-width: 992px) {

    .serviceBox {
        width: 98%;
    }
}

@media only screen and (max-width: 768px) {
    .serviceBox {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;

            .icon {
                margin: 0;
                margin-block: 10px;
                padding: 2vh 2vh;
                font-size: 2vh;
                width: 100% !important;

                img {
                    width: 25%;
                }

                strong {
                    font-size: 150%;
                }
            }

            li:nth-child(7),
            li:nth-child(2) {
                strong {
                    padding: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .serviceBox {
        width: 98% !important;
    }
}