@use '../styles/colors';
@use '../styles/fonts';

.sightsBox {
    // margin-top: 9vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
    width: 70%;
    display: block;
    color: colors.$Birch;
    font-size: 2vh;
    background-image: linear-gradient(to bottom,
            transparent 2%,
            colors.$AshA1 3%);
    box-shadow: 0px 0px 100px colors.$Birch inset;
    text-shadow: 0px 0px 10px colors.$Vanilla;

    hr{
        width: 75%;
        margin: auto;
    }
    img {
        width: 80%;
        border: 3px solid colors.$Millbrook;
        border-radius: 1.5rem;
        box-shadow: 0 0 5px colors.$Birch;
        
    }
    
    a {
        text-decoration: none;
        color: colors.$Birch;
    }
    .container{
        img{
            display: block;
            margin: 0 auto;     
        }
    }
    
    .title {
        display: block;
        padding: 3vh 0px;
        text-align: center;
        font-size: 4vh;
        font-family: fonts.$Basic-font;
        font-weight: bold;
    }
    
    p.sights {
        text-align: center;
        font-family: fonts.$Basic-font;
        font-weight: bold;
        width: 75%;
        margin: 2vh auto;
        text-shadow: none;
    }
}

// ------------------------------------- MEDIA QUERRIES --------------------------------------

@media only screen and (max-width: 992px) {
    .sightsBox {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .sightsBox {
        padding-top: 10vh;
        width: 99%;

        hr{
            width: 90%;
        }
        img {
            width: 100%;
            border: 0;
            border-radius: 0;
        }

        p.sights {
            width: 100%;
            font-size: 2.5vh;
            margin-top: 5vh;
        }
    }
}