@use '../styles/colors';

html {
    scroll-behavior: smooth;
}

div.sightsBox {
    margin-top: 15vh;
    width: 60%;
    display: block;
    color: colors.$Birch;
    top: 20vh;
    font-size: 1rem;
    background-color: colors.$AshA1;
    padding: 5vh 3vw 4vh 3vw;
    border-radius: 2rem;
    border: 4px solid colors.$Millbrook;
    outline: 2px solid colors.$AshA1;
    box-shadow: 0px 0px 100px colors.$Birch inset;
    text-shadow: 0px 0px 5px rgb(111, 105, 75);

    img {
        width: 80%;
        border: 5px solid colors.$Millbrook;
        border-radius: 2rem;
    }

    a {
        text-decoration: none;
        color: colors.$Birch;
    }

    p.title {
        padding: 3vh 0px;
        text-align: center;
        font-size: 4vh;
        font-family: colors.$Basic-font;
        font-weight: bold;

        img {
            margin-top: 3vh;
        }
    }

    p.sights {
        text-align: center;
        font-family: colors.$Basic-font;
        font-weight: bold;
        width: 75%;
        margin: 0 auto;
        text-shadow: none;

    }
}

// ------------------------------------- MEDIA QUERRIES --------------------------------------

@media only screen and (max-width: 992px) {
    div.sightsBox {
        width: 80%;
    }
}

@media only screen and (max-width: 576px) {
    div.sightsBox {
        padding: 5px;
        border-radius: 1rem;
        width: 98%;

        p.sights {
            width: 100%;
        }
    }
}