@use'../styles/colors';
@use 'sass:math';

// SNOWFLAKE BUTTON

.snowFall {
    position: fixed;
    bottom: 0;
    margin: 4.5vh 1.5vh;
    z-index: 10;
    box-shadow: 0 0 10px colors.$Birch inset;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;

    i {
        margin-block: 5px;
        cursor: pointer;
        font-size: 2.5rem;
        color: colors.$ice;
        animation: freeze 3000ms ease-out infinite;

        @keyframes freeze {
            50% {
                text-shadow: 0 0 5px colors.$ice;
                color: colors.$thin-ice;                
            }
        }

        &:hover {
            transition: 300ms;
            scale: 1.1;
            box-shadow: 0 0 10px colors.$Vanilla;
            border-radius: 50%;

        }
    }
}

// SNOWFALL OFF AT START

.snowOff {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;

    span {
        position: absolute;
        top: -100px;
        color: rgb(255, 255, 255);
        user-select: none;
    }

}

// SNOWFALL ON

.snow {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;

    span {
        position: absolute;
        top: -100px;
        color: rgb(255, 255, 255);
        user-select: none;
        animation: snowFall ease-in-out infinite;
    }
}

// RANDOMIZE SPANS

@for $i from 1 through 500 {
    .snow span:nth-child(#{$i}) {

        left: math.random(100)* 1vw;

        animation-delay: math.random(10)* 1s;

        animation-duration: math.random(20)* 1s;

        font-size: math.random(15)* 1px;
    }
}

// ANIMATION

@keyframes snowFall {
    0% {
        transform: translateY(-200px) rotate(0deg);
        opacity: 0.8;
    }

    100% {
        transform: translateY(95vh) rotate(360deg);
        opacity: 0.3;
    }
}