body {
    z-index: 0;
    position: relative;
    height: 100vh;
    overflow: auto;

    &::before {
        content: "";
        position: fixed;
        height: 100vh;
        width: 100%;
        background-image: url('../images/gallery/IMG_4725.jpg');
        background-size: cover;
        background-position: top;
        z-index: -2;
        filter: blur(1px);
        animation: unblur 2000ms ease;
    }

    @keyframes unblur {
        50% {
            filter: blur(10px)
        }
    }
}