body {
    z-index: 0;
    position: relative;
    height: 100vh;
    overflow: auto;

    &::before {
        content: "";
        position: fixed;
        height: 100vh;
        width: 100%;
        background-image: url('../images/garden/garden_bgnd.jpg');
        background-size: cover;
        background-position: top;
        filter: blur(1px);
        z-index: -1;
    }
}