$Ash: #cabfb3;
$AshA: #cabfb3dd;
$AshA2: #cabfb369;
$Birch: #393121;
$Millbrook: #644c3a;
$MillbrookA: #644c3ab9;
$YellowMetal: #70643f;
$YellowMetalA: #70643fc6;

$Basic-font: "Cinzel", Comic Sans MS;

.cinzel {
    font-family: "Cinzel" !important;
    font-weight: bold;

}

* {
    // transition: 1000ms;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    z-index: 0;
    // background-image: url('../images/main_bgnd.jpg');
    // background-attachment: fixed;
    // background-size: cover;
    // background-position: top;
    position: relative;
    height: 100vh;
    overflow: auto;

}

body::before {
    content: "";
    position: fixed;
    height: 100vh;
    width: 100%;
    background-image: url('../images/main_bgnd.jpg');
    background-size: cover;
    background-position: top;
    z-index: -1;
}

.upstair {
    background-image: url('../images/upstair/emelet_bgnd.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.ground {
    background-image: url('../images/ground/ground.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.garden {
    background-image: url('../images/garden/garden_bgnd.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}




.mainLogo {
    padding-left: 4vw;
    border: none;
    outline: none;

    img {
        height: 7vh;
        border-radius: 50% / 20%;
        border: 3px $Millbrook solid;
    }
}





ul.navbar-nav {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: $Basic-font;
}

.navBG {
    background-color: $AshA2;
}

button.navbar-toggler {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    width: 100%;


}

.navbar-toggler-icon {
    background-image: url('../images/logo.jpg');
    border: none;
    outline: none;

    width: 8vh;
    height: 8vh;
    border-radius: 50% / 20%;
    outline: 0;
    border: 3px $Millbrook solid;

}

.navbar {
    top: 1vh;
    position: fixed;
    z-index: 10;
    box-shadow: 0 5px 15px $Birch;
}

.nav-item {
    padding: 0rem 1vw 0rem 1vw;
    font-size: 1vw;
}

.text {
    font-weight: bold;
    font-family: $Basic-font;

    &:hover {
        // padding-top: 0.5rem;
        font-size: 1vw;
        transition: 200ms;
        font-weight: bold;
        color: whitesmoke;
        text-shadow: 0px 0px 25px $Birch;
    }
}

.reservation-label {
    z-index: 4;
    position: relative;
    top: 20vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 10vh;
    margin: 0 auto;
    background-color: $AshA;

    h2 {
        position: relative;
        top: 2vh;
        margin: 0 auto;
    }

    p {
        position: relative;
        top: 2.5vh;
        margin: 0 auto;
        text-decoration: overline solid;
        text-align: center;
    }

}

.reservation a {
    border-radius: 10px;
    background-color: $Birch;
    color: $Ash;

    &:hover {
        color: whitesmoke;
        box-shadow: 0px 0px 10px $Ash;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;

    }
}

.dropdown-item {
    width: 100% !important;
    background-color: $AshA;
    color: #644c3a;

    &:hover {
        transition: 300ms;
        background-color: #393121 !important;
        color: whitesmoke
    }
}

ul .dropdown-menu {
    background-color: $Ash !important;

    // border: none;
}


.facebook,
.tiktok,
.messenger {
    margin: 0;
    padding: 0;
    font-size: 1vw;

    &:hover {
        font-size: 1vw;
        padding: 0;
    }
}

.phone {
    padding: 0;
    font-size: 1.2rem;
    text-align: right;
}

.carousel-gallery {
    position: relative;
    top: 8vw;
    z-index: 0;
    overflow: hidden;
    padding: 0 0 0 0;
    width: 65%;
    height: 37vw;

    img {
        border: 5px solid $Ash;
        border-radius: 2rem;
        height: 37vw;
        aspect-ratio: 16 / 9;
    }
}

.carousel-upstair {
    // background-color: $MillbrookA;
    border-bottom: none;
    position: relative;
    top: 13.5vh;
    z-index: 0;
    overflow: hidden;
    padding: 0 0 0 0;
    width: 60%;
    border-radius: 1rem;

    img {
        box-shadow: 0 0 10px black;
        border-radius: 1rem;
        border: 3px solid $Ash;
        height: 38vw;
        aspect-ratio: 16 / 9;
    }
}

.carousel-ground {
    // background-color: $MillbrookA;
    // border-bottom: none;
    position: relative;
    top: 13.5vh;
    z-index: 0;
    overflow: hidden;
    padding: 0 0 0 0;
    width: 60%;

    img {
        border: 5px solid $Ash;
        border-radius: 1rem;
        height: 38vw;
        aspect-ratio: 16 / 9;
    }
}

.carousel-garden {
    // background-color: $MillbrookA;
    // border-bottom: none;
    position: relative;
    top: 13.5vh;
    z-index: 0;
    overflow: hidden;
    padding: 0 0 0 0;
    width: 60%;

    img {
        border: 5px solid $Ash;
        border-radius: 1rem;
        height: 38vw;
        aspect-ratio: 16 / 9;
    }
}

.carousel-control-next-icon {
    background-color: $Birch;
    border-radius: 25% 75% 75% 25% / 50% 50% 50% 50%;
}

.carousel-control-prev-icon {
    background-color: $Birch;
    border-radius: 75% 25% 25% 75% / 50% 50% 50% 50%;
}

img.ratio-2-3 {
    margin: 0 auto;
    aspect-ratio: 2 / 3;
}

img.ratio-7-9 {
    margin: 0 auto;
    aspect-ratio: 7 / 9;
}

img.ratio-11-14 {
    margin: 0 auto;
    aspect-ratio: 11 / 14;
}

img.ratio-18-29 {
    margin: 0 auto;
    aspect-ratio: 18 / 29;
}

img.ratio-19-21 {
    margin: 0 auto;
    aspect-ratio: 19 / 21;
}

img.ratio-20-21 {
    margin: 0 auto;
    aspect-ratio: 20 / 21;
}

.indexBox {

    // Box

    z-index: 1;
    padding: 3rem 4rem 3rem 3rem;
    border-radius: 2rem;
    border: 3px solid $Millbrook;
    box-shadow: 0px 0px 10px black;
    background-color: #cabfb3e4;

    // Text

    color: $Birch;
    font-family: cinzel;
    font-size: 100%;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    text-shadow: 0px 5px 4px rgb(111, 105, 75);

    img.img-outside {
        border: 2px solid $Millbrook;
        border-radius: 1rem;
        margin: 1rem 2rem 0rem 0rem;
        width: 50%;
        float: left;
        box-shadow: 0 0 4px black;
        cursor: pointer;
    }

    span.emp-top {
        display: inline;
        font-weight: bold;
        font-size: 1.3rem;
        padding: 0vh 0 1vh 0;
    }

    span.emp-bottom {
        text-align: center;
        display: block;
        font-size: 1.5rem;
        padding: 1vh 0 0 0;
    }
}

div.sightsBox {
    width: 100%;
    position: absolute;
    color: rgb(105, 52, 15);
    top: 20vh;
    font-size: 1.35rem;
    font-style: italic;
    background-color: #cabfb3d4;
    padding: 3rem 4rem 3rem 4rem;
    border-radius: 2rem;
    text-shadow: 0px 0px 5px rgb(111, 105, 75);

    img {
        width: 70%;
        height: 50vh;
        border: 5px solid #644c3a;
        border-radius: 2rem;
    }

    a {
        text-decoration: none;
        color: rgb(105, 52, 15);
    }

    p.title {
        text-align: center;
        font-size: 2rem;

        img {
            margin-top: 3vh;
        }
    }

    p.sights {
        text-align: center;
        font-family: $Basic-font;
        font-size: 1rem;
        font-weight: bold;
        width: 75%;
        margin: 0 auto;
        text-shadow: none;

    }
}

section div.rulesBox {
    position: relative;
    margin: 0 auto;
    top: 20vh;
    background-color: $AshA;
    font-family: $Basic-font;
    width: 60%;
    border-radius: 2rem;
    box-shadow: 0 0 20px black;

    hr {
        padding: 1rem 0 0rem 0;
        width: 75%;
        margin: 0 auto;
    }

    p,
    h4 {
        margin: 0 auto;
        width: 75%;
        padding-bottom: 1rem;
    }

    span.span-thx {
        display: block;
        font-size: 1.5rem;
        padding: 3vh 0 5vh 0;
    }
}

.serviceBox {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 0vh;
    background-color: $AshA;
    font-family: $Basic-font;
    width: 60%;
    border-radius: 2rem;
    box-shadow: 0 0 20px black;
    font-size: 1.3rem;
    padding: 0 6vw 4vh 6vw;

    h1 {
        padding: 10vh 0 1vw 0;
    }

    p {
        padding: 1vw 0 1vw 0;
    }

    li {
        padding: 1vh 0 1vh 0vw;
    }
}


section div.gdprBox {
    position: relative;
    top: 0vh;
    background-color: $AshA;
    font-family: $Basic-font;
    padding: 5vw 5vw 10vw 5vw;
    width: 60%;
    border-radius: 2rem;
    box-shadow: 0 0 20px black;

    h2 {
        text-align: center;
        padding: 2rem 0 1rem 0;
    }

    h5 a {
        color: $Millbrook;
        text-align: center;
    }
}

.priceBox {
    width: 60%;
    z-index: 1;
    position: relative;
    top: 20vh;
    background-color: $AshA;
    font-family: $Basic-font;
    padding: 0vh 3vh 3vh 0vh;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0 0 10px $Birch;

    h1 {
        padding: 4vh 2vh 2vh 2vh;
    }

    li {
        list-style-type: none;
        font-size: 1.4rem;
    }
}


.toFooter {
    font-family: $Basic-font;
    color: $Ash;
    z-index: 0;
    display: flex;
    position: sticky;
    justify-content: center;
    width: 100%;
    // bottom: 0rem;
    background-color: #644c3aef;

    ul {
        padding: 0;
    }

}

.toFooter {
    
    
    h5{
        text-align: center;
    }
    li.list-item {
        list-style-type: none;
        text-align: center;
        padding: 0;
        
        a {
            text-wrap: nowrap;
            text-decoration: none;
            color: $Ash;
            padding: 0px 1vw 0px 1vw;
            border-radius: 20px;
            h5{
                text-align: center;
            }
            
            &:hover {
                color: wheat;
                border-color: wheat;
                transition: 500ms;
                box-shadow: 0 0 5px wheat;
            }
        }

        img {
            height: 16vh;
            border-radius: 50% / 20%;
            border: 3px $Millbrook solid;
        }
    }


    hr {
        width: 80%;
        margin: 1rem auto;
        border: none;
        border-top: 1px solid $Ash;
    }
}

.footer-index {
    font-family: $Basic-font;
    color: wheat;
    z-index: 1;
    height: 5vh;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 1rem 0rem 0rem 5vw;
    background-color: $Millbrook;

    .footerText {
        text-wrap: nowrap;
        text-align: left;
        font-size: 70%;
    }
}



.gmap {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    top: 20vh;
    width: 90%;

    iframe {
        border-radius: 15px;
        border: 1px solid $Millbrook;
        width: 100%;
        height: 70vh;
        box-shadow: 0 0 15px black;

    }
}

.lilgmap {
    position: relative;
    bottom: 0;

    iframe {
        border-radius: 1rem;
        width: 80%;
        height: 35vh;
        border: 5px solid wheat;
    }
}


.animation {
    position: relative;
    animation: showIndexBox 3000ms cubic-bezier(0, 0.25, 0.5, 1.2);
}

@keyframes showIndexBox {
    0% {
        opacity: 0;
        top: -1000px;
    }

    60% {
        opacity: 0;
    }

    100% {
        top: 0;
    }
}

.orderForm {
    z-index: -1;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 60%;
    margin: 0 auto;
    top: 20vh;
    padding: 2vh;
    background-color: $AshA;
    z-index: 0;
    box-shadow: 0px 0px 15px $Birch;

    a {
        text-decoration: none;
    }

    input {
        width: 100%;
        background-color: $AshA2;

        &:focus {
            background-color: $AshA;
            border-color: #70643f !important;
            outline: none;
            box-shadow: 0 0 5px $Millbrook inset;
            text-align: left;
        }
    }

    label {
        display: inline;
        padding-left: 0.5rem;
        text-align: left;
    }

    input[type=checkbox] {
        background-color: $AshA;
        border: 2px solid $Millbrook;
        border-radius: 50%;
        width: 3vh;
        height: 3vh;
    }

    .btn {
        background-color: $Millbrook;
        border-color: $Millbrook;
        color: $Ash;

        &:hover {
            color: whitesmoke;
            font-weight: bold;
            padding: 6px 8px 6px 8px;
            box-shadow: 0px 0px 20px $Ash inset;
        }

        &:active {
            color: $YellowMetal;
            background-color: $Ash;
            border-color: #70643f;
        }

    }

    select {
        font-size: 1.2rem;
        font-family: 'cinzel';
        padding: 0 10px 0 15px;
        background-color: $AshA2;
        border: none;
        border-radius: 10%;
    }

    option {
        background-color: $AshA2;

    }

    textarea {

        background-color: $AshA2;

        &:focus {
            background-color: $AshA;
            border-color: #70643f !important;
            outline: none;
            box-shadow: 0 0 5px $Millbrook inset;
            text-align: left;
        }
    }
}

div.spacer-line {
    height: 2vh;
    border-bottom: 1px solid grey;
    width: 100%;
}

.big-modal {
    top: 5vh;
    background-color: transparent;
    border: none;

    img {
        width: 100%;
        border-radius: 10%;
        box-shadow: 0 0 100px wheat;
    }
}













// SPACERS

div.sights-footer-spacer {
    height: 595vh;
    background: transparent;
}














// MEDIA QUERRIES

@media only screen and (min-width: 2300px) {
    .mainLogo {
        padding-left: 10%;
    }

    .carousel-gallery,
    .carousel-upstair,
    .carousel-ground,
    .carousel-garden {
        top: 4.25vw;
        width: 55vw;

        img {
            height: 30vw;
        }
    }

    li.nav-item a.facebook,
    li.nav-item a.tiktok,
    li.nav-item a.messenger {
        padding: 0 !important;
    }
}





@media only screen and (max-width: 1400px) {
    .mainLogo {
        padding-left: 3vw;
    }

    .carousel-gallery,
    .carousel-upstair,
    .carousel-ground,
    .carousel-garden {
        top: 15vw;
    }

    li.nav-item a.facebook,
    li.nav-item a.tiktok,
    li.nav-item a.messenger {
        padding: 0 !important;
    }
}





@media only screen and (max-width: 1200px) {
    .mainLogo {
        padding-left: 2vw;
    }

    .carousel-gallery {
        top: 18vw;
    }

    div.sightsBox {
        img {
            width: 100%;
            height: 100%;
        }
    }
}





@media only screen and (max-width: 992px) {
    .mainLogo {
        display: none;
    }

    .carousel-gallery,
    .carousel-upstair,
    .carousel-ground,
    .carousel-garden {
        top: 30vw;
        height: 60vw;
        width: 98%;

        img {
            height: 58vw;
        }
    }

    .reservation a {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
    }

    .img-outside {
        width: 100%;

    }

    li.nav-item a.facebook,
    li.nav-item a.tiktok,
    li.nav-item a.messenger {
        font-size: 2vw;
        padding: 0.5rem 0 !important;

        &:hover {
            font-size: 2vw;
            padding: 0.5rem 1rem !important;
        }
    }

    .facebook::after {
        content: ' Facebook';
    }

    .tiktok::after {
        content: ' TikTok';
    }

    .messenger::after {
        content: ' Messenger';
        padding-bottom: 0;
    }

    .text {
        font-size: 2vw;

        &:hover {
            font-size: 2vw;
        }
    }

    section {
        div.gdprBox {
            font-size: 1rem;
            width: 100vw;
            border-radius: 0;
        }
    }

    .serviceBox {
        width: 100%;
        margin: 0 auto;
    }

    section div.rulesBox {
        width: 100%;
    }

    .priceBox {
        width: 95%;
    }

    .reservation-label {
        width: 95%;
    }

    .orderForm {
        flex-direction: column;
        align-items: center;
        width: 95%;
    }

}





@media only screen and (max-width: 767px) {


    .carousel-gallery,
    .carousel-upstair,
    .carousel-ground,
    .carousel-garden {
        top: 30vw;
        height: 60vw;
        width: 98%;

        img {
            height: 58vw;
        }
    }

    li.nav-item a.facebook,
    li.nav-item a.tiktok,
    li.nav-item a.messenger {
        font-size: 2vw;
        padding: 0.5rem 0 !important;

        &:hover {
            font-size: 2vw;
            padding: 0.5rem 1rem !important;
        }
    }

    .gmap {
        top: 25vh;
        margin: 1rem;

        iframe {
            width: 90%;
            height: 40vh;
        }
    }
}






@media only screen and (max-width: 576px) {

    body::before {
        background-attachment: scroll;
        /* Változtathatod scroll-ra is, ha mást akarsz */
    }

    .reservation-label {
        height: 15vh;
        padding: 0 14px 0 14px;
    }


    li.nav-item a {
        font-size: 2vh;

        &:hover {
            font-size: 2vh;
            padding: 0.5rem 1rem !important;
        }

        .fa-facebook,
        .fa-tiktok,
        .fa-facebook-messenger {

            font-size: 2vh;

            &:hover {
                font-size: 2vh;
                padding: 0.5rem 1rem !important;
            }
        }

    }

    .facebook::after {
        content: ' Facebook';
        font-size: 2vh;
    }

    .tiktok::after {
        content: ' TikTok';
        font-size: 2vh;
    }

    .messenger::after {
        content: ' Messenger';
        font-size: 2vh;
    }

    .carousel-gallery,
    .carousel-upstair,
    .carousel-ground,
    .carousel-garden {
        top: 25vw;
        height: 60vw;
        width: 98%;

        img {
            height: 58vw;
        }
    }

    .indexBox {
        font-size: 80%;
        width: 98%;
        padding: 3vh 8vw 2vh 8vw;
        text-align: center;

        img.img-outside {
            width: 100%;
            margin: 0 0 4vh 0;
        }

        span.emp-bottom {
            text-align: center;
            display: block;
            font-size: 1rem;
            padding: 1vh 0 0 0;
        }
    }

    div.sightsBox {
        padding: 5px;
        border-radius: 1rem;

        p.sights {
            width: 100%;
        }
    }

    div.sights-footer-spacer {
        height: 465vh;
        background: transparent;
    }

    .gmap {
        width: 100%;
        iframe {
            border: none;
            width: 100%;
            height: 80vh;
        }
    }
}