@charset "UTF-8";
.cinzel {
  font-family: "Cinzel" !important;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.scroll-top-btn {
  display: none;
  position: fixed;
  bottom: 0vh;
  right: 30px;
  z-index: 20;
  font-size: 1.5rem;
  transition: 500ms;
  animation: scrollUp 1000ms ease-out;
}
.scroll-top-btn a {
  transition: 500ms;
  text-decoration: none;
  color: #cabfb3;
}
.scroll-top-btn a:hover {
  color: wheat;
}

@keyframes scrollUp {
  0% {
    bottom: 5vh;
    opacity: 0;
  }
  100% {
    opacity: 1;
    bottom: 0vh;
  }
}
.animation {
  position: relative;
  animation: showIndexBox 3000ms cubic-bezier(0, 0.25, 0.5, 1.2);
}
@keyframes showIndexBox {
  0% {
    opacity: 0;
    top: -1000px;
  }
  60% {
    opacity: 0;
  }
  100% {
    top: 0;
  }
}

.btn-res-animation {
  scale: 1;
  box-shadow: 0 0 10px #644c3a;
  animation: pulse 3000ms ease-in-out infinite;
  filter: blur(0px);
}
@keyframes pulse {
  50% {
    scale: 1.1;
    color: #F3E5AB;
  }
}

.mainLogo {
  user-select: none;
  padding-left: 4vw;
}
.mainLogo img {
  transition: 300ms;
  height: 7vh;
  border-radius: 50%/20%;
  border: 3px #644c3a solid;
}
.mainLogo img:hover {
  border-radius: 50%;
}

header {
  display: flex;
  justify-content: center;
}

ul.navbar-nav {
  user-select: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Cinzel", Comic Sans MS;
}

button.navbar-toggler {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  width: 100%;
}

.navbar-toggler-icon {
  background-image: url("../images/logo.jpg");
  width: 8vh;
  height: 8vh;
  border-radius: 50%/20%;
  border: 3px #644c3a solid;
}

.navbar {
  margin: 0 auto;
  top: 1vh;
  position: fixed;
  z-index: 10;
  box-shadow: 0 5px 15px #393121;
}

.nav-item {
  padding: 0rem 1vw 0rem 1vw;
  font-size: 1.8vh;
  text-align: center;
}
.nav-item a {
  color: #393121;
}

.text {
  font-weight: bold;
  font-family: "Cinzel", Comic Sans MS;
  font-size: 1.8vh;
}
.text:hover {
  transition: 400ms;
  font-weight: bold;
  color: #F3E5AB;
  text-shadow: 0px 0px 10px #393121;
}

.reservation a {
  border-radius: 10px;
  background-color: #393121;
  color: rgba(243, 229, 171, 0.7176470588);
}
.reservation a:hover {
  transition: 300ms;
  color: #F3E5AB;
  box-shadow: 0px 0px 10px black;
}

ul .dropdown-menu {
  background-color: #cabfb3 !important;
  border: none;
}
ul .dropdown-menu .dropdown-item {
  color: #393121;
  text-wrap: wrap;
  font-size: 1rem;
}
ul .dropdown-menu .dropdown-item:hover {
  transition: 400ms;
  background-color: #393121 !important;
  color: #F3E5AB;
  border-radius: 1rem;
}

.facebook,
.tiktok,
.messenger {
  margin: 0;
  padding: 0;
  font-size: 1vw;
}
.facebook:hover,
.tiktok:hover,
.messenger:hover {
  scale: 1.5;
  font-size: 1vw;
  padding: 0;
}

.carousel-gallery {
  position: relative;
  top: 12vh !important;
  z-index: 0;
  overflow: hidden;
  padding: 0 0 0 0;
  width: 95% !important;
  background-color: rgba(202, 191, 179, 0.7254901961);
  margin: 0 auto;
  border-radius: 1rem;
  border: 6px solid #644c3a;
  outline: 2px solid rgba(202, 191, 179, 0.7254901961);
  box-shadow: 0px 0px 100px #393121 inset;
  user-select: none;
}
.carousel-gallery h1 {
  font-weight: bolder;
  text-align: center;
  margin: 10px;
  font-family: "cinzel";
  text-shadow: 0 0 15px #F3E5AB;
}
.carousel-gallery img {
  user-select: none;
  margin: 2rem auto;
  border: 2px solid #644c3a;
  border-radius: 10px;
  box-shadow: 0 0 5px #F3E5AB;
  height: 70vh !important;
}

.carousel-upstair {
  position: relative;
  top: 12vh !important;
  z-index: 0;
  padding: 0 0 0 0;
  width: 95% !important;
  background-color: rgba(202, 191, 179, 0.7254901961);
  margin: 0 auto;
  border-radius: 1rem;
  border: 6px solid #644c3a;
  outline: 2px solid rgba(202, 191, 179, 0.7254901961);
  box-shadow: 0px 0px 100px #393121 inset;
  user-select: none;
}
.carousel-upstair h1,
.carousel-upstair h4 {
  font-family: "cinzel";
  text-align: center;
  margin: 0 auto;
  margin-top: 6vh;
  text-shadow: 0 0 15px #F3E5AB;
  width: 80%;
}
.carousel-upstair img {
  user-select: none;
  margin: 50px auto;
  border: 2px solid #644c3a;
  border-radius: 10px;
  box-shadow: 0 0 5px #F3E5AB;
}
.carousel-upstair p,
.carousel-upstair ul {
  list-style-type: none;
  padding-inline: 100px;
  text-align: justify;
}
.carousel-upstair p li,
.carousel-upstair ul li {
  padding-left: 2vw;
  padding-block: 0.5vh;
}

.carousel-ground {
  position: relative;
  top: 12vh !important;
  z-index: 0;
  overflow: hidden;
  padding: 0 0 0 0;
  width: 95% !important;
  background-color: rgba(202, 191, 179, 0.7254901961);
  margin: 0 auto;
  border-radius: 1rem;
  border: 6px solid #644c3a;
  outline: 2px solid rgba(202, 191, 179, 0.7254901961);
  box-shadow: 0px 0px 100px #393121 inset;
  user-select: none;
}
.carousel-ground h1,
.carousel-ground h4 {
  text-align: center;
  margin: 0 auto;
  margin-top: 6vh;
  font-family: "cinzel";
  text-shadow: 0 0 15px #F3E5AB;
}
.carousel-ground img {
  user-select: none;
  margin: 50px auto;
  border: 2px solid #644c3a;
  border-radius: 10px;
  box-shadow: 0 0 5px #F3E5AB;
}
.carousel-ground p,
.carousel-ground ul {
  width: 70%;
  list-style-type: none;
  margin: 3vh auto;
  padding-inline: 100px;
  text-align: center;
}

.carousel-garden {
  position: relative;
  top: 12vh !important;
  z-index: 0;
  overflow: hidden;
  padding: 0 0 0 0;
  width: 95% !important;
  background-color: rgba(202, 191, 179, 0.7254901961);
  margin: 0 auto;
  border-radius: 1rem;
  border: 6px solid #644c3a;
  outline: 2px solid rgba(202, 191, 179, 0.7254901961);
  box-shadow: 0px 0px 100px #393121 inset;
  user-select: none;
  padding-bottom: 1.3vh;
}
.carousel-garden h1,
.carousel-garden h4 {
  text-align: center;
  margin-top: 6vh;
  font-family: "cinzel";
  text-shadow: 0 0 15px #F3E5AB;
}
.carousel-garden img {
  user-select: none;
  margin: 50px auto 10px auto;
  border: 2px solid #644c3a;
  border-radius: 10px;
  box-shadow: 0 0 5px #F3E5AB;
}
.carousel-garden p,
.carousel-garden ul {
  list-style-type: none;
  margin: 3vh auto;
  padding-inline: 100px;
  text-align: justify;
}
.carousel-garden p li,
.carousel-garden ul li {
  padding-left: 2vw;
}

.carousel-control-next-icon {
  background-color: #393121;
  border-radius: 25% 75% 75% 25%/50% 50% 50% 50%;
}

.carousel-control-prev-icon {
  background-color: #393121;
  border-radius: 75% 25% 25% 75%/50% 50% 50% 50%;
}

.indexBox {
  margin: 0 auto;
  width: 80%;
  z-index: 1;
  padding: 3rem 6rem 1vw 3rem;
  border-radius: 83% 17% 85% 15%/17% 76% 24% 83%;
  border: 4px solid #644c3a;
  outline: 2px solid rgba(202, 191, 179, 0.7254901961);
  box-shadow: 0px 0px 100px #393121 inset;
  background-color: rgba(202, 191, 179, 0.8941176471);
  overflow: hidden;
  color: #393121;
  font-family: cinzel;
  font-size: 1.8vh;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 0px 2px rgba(100, 76, 58, 0.7254901961);
}
.indexBox p {
  margin: 0;
  padding: 0.8vh;
}
.indexBox div.reserve {
  display: block;
  text-align: left;
  background-color: rgba(100, 76, 58, 0.7254901961);
  margin: 0 0 -3vw 0vw;
  padding: 1% 0 10% 15%;
  width: 35vw;
  min-width: 400px;
  height: 12vh;
  border-radius: 22% 78% 95% 5%/14% 75% 25% 86%;
  box-shadow: 10px -5px 10px #F3E5AB;
}
.indexBox div.reserve:hover {
  transition: 300ms;
  box-shadow: 20px -10px 10px #F3E5AB;
}
.indexBox div.reserve a {
  padding-top: 2vh;
  display: block;
  color: #F3E5AB;
  text-decoration: none;
  font-size: 4vh;
  text-shadow: 1px 1px 3px black;
  letter-spacing: 4px;
}
.indexBox div.reserve a:hover {
  transition: 1500ms;
  text-shadow: 1px 1px 20px #F3E5AB;
}
.indexBox img.img-outside {
  border: 2px solid #644c3a;
  border-radius: 73% 27% 81% 19%/19% 79% 21% 81%;
  margin: 5vh 2vh 1vh 0rem;
  width: 50%;
  float: left;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}
.indexBox span.emp-top {
  display: inline;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 0vh 0 1vh 0;
  letter-spacing: 2px;
  text-shadow: 0px 2px 5px #F3E5AB;
}
.indexBox span.emp-bottom {
  text-align: center;
  display: block;
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding: 1vh 0 1vh 0;
}

.serviceBox {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 0vh;
  background-image: linear-gradient(to bottom, transparent, rgba(202, 191, 179, 0.7254901961) 5% 95%, transparent);
  font-family: "Cinzel", Comic Sans MS;
  width: 50%;
  border-radius: 2rem;
  border: 4px solid #644c3a;
  outline: 2px solid rgba(202, 191, 179, 0.7254901961);
  box-shadow: 0px 0px 100px #393121 inset;
  font-size: 1.3rem;
  padding: 0 6vw 4vh 6vw;
  overflow: hidden;
}
.serviceBox h1 {
  padding: 10vh 0 1vw 0;
  text-shadow: 0 0 5px #F3E5AB;
  font-weight: bold;
}
.serviceBox p {
  padding: 1vh 0 1vh 0;
}
.serviceBox li {
  padding: 1vh 0 1vh 0vw;
}

div.sightsBox {
  width: 60%;
  position: absolute;
  color: rgb(105, 52, 15);
  top: 20vh;
  font-size: 1rem;
  background-color: rgba(202, 191, 179, 0.831372549);
  padding: 5vh 3vw 4vh 3vw;
  border-radius: 2rem;
  border: 4px solid #644c3a;
  outline: 2px solid rgba(202, 191, 179, 0.7254901961);
  box-shadow: 0px 0px 100px #393121 inset;
  text-shadow: 0px 0px 5px rgb(111, 105, 75);
}
div.sightsBox img {
  width: 80%;
  border: 5px solid #644c3a;
  border-radius: 2rem;
}
div.sightsBox a {
  text-decoration: none;
  color: rgb(105, 52, 15);
}
div.sightsBox p.title {
  padding: 3vh 0px;
  text-align: center;
  font-size: 4vh;
  font-family: "Cinzel", Comic Sans MS;
  font-weight: bold;
}
div.sightsBox p.title img {
  margin-top: 3vh;
}
div.sightsBox p.sights {
  text-align: center;
  font-family: "Cinzel", Comic Sans MS;
  font-weight: bold;
  width: 75%;
  margin: 0 auto;
  text-shadow: none;
}

section div.rulesBox {
  position: relative;
  margin: 0 auto;
  top: 20vh;
  font-family: "Cinzel", Comic Sans MS;
  font-weight: 600;
  width: 60%;
  border-radius: 2rem;
  border: 4px solid #644c3a;
  outline: 2px solid rgba(202, 191, 179, 0.7254901961);
  box-shadow: 0px 0px 100px #393121 inset;
  background-image: linear-gradient(to bottom, transparent, rgba(202, 191, 179, 0.8666666667) 15% 80%, transparent);
}
section div.rulesBox hr {
  padding: 1rem 0 0rem 0;
  width: 75%;
  margin: 0 auto;
}
section div.rulesBox h1 {
  display: block;
  font-size: 4vh;
  text-shadow: 0 0 5px #F3E5AB;
  font-weight: bold;
}
section div.rulesBox h5 {
  font-weight: 700;
}
section div.rulesBox p,
section div.rulesBox h4 {
  margin: 3vh auto;
  width: 75%;
  padding-bottom: 1rem;
}
section div.rulesBox ol {
  text-align: left;
  padding-inline-start: 6rem;
}
section div.rulesBox ol li {
  text-align: justify;
  padding: 1rem 6rem 0 2rem;
}
section div.rulesBox span.span-thx {
  display: block;
  font-size: 3.5vh;
  padding: 15vh 0 14vh 0;
  text-shadow: 2px 3px 5px #F3E5AB;
  font-weight: bold;
}

#gmap {
  text-shadow: 2px 3px 5px #F3E5AB;
}

.gmap {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  top: 17vh;
  width: 60%;
  z-index: 5;
}
.gmap iframe {
  outline: 2px solid rgba(202, 191, 179, 0.7254901961);
  width: 100%;
  height: 70vh;
  box-shadow: 0 0 10px black;
}

.lilgmap {
  padding-top: 1vh;
}
.lilgmap iframe {
  border-radius: 1rem;
  width: 80%;
  height: 30vh;
  border: 3px solid #644c3a;
}

section div.gdprBox {
  position: relative;
  top: 0vh;
  font-family: "Cinzel", Comic Sans MS;
  padding: 5vw 5vw 20vh 5vw;
  width: 60%;
  box-shadow: 0px 0px 100px #393121 inset;
  background-image: linear-gradient(to bottom, transparent, rgba(202, 191, 179, 0.8666666667) 10% 90%, transparent);
}
section div.gdprBox h2 {
  text-align: center;
  padding: 10vh 0 1rem 0;
  font-weight: bold;
  text-shadow: 0 0 5px #F3E5AB;
}
section div.gdprBox h5 a {
  color: #644c3a;
  text-align: center;
}

.priceBox {
  width: 60%;
  z-index: 1;
  position: relative;
  background-image: linear-gradient(to bottom, transparent, rgba(202, 191, 179, 0.8666666667) 25% 92%, transparent);
  font-family: "Cinzel", Comic Sans MS;
  font-size: 1rem;
  padding: 0vh 3vh 0vh 0vh;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: 6px solid #644c3a;
  border-bottom: none;
  box-shadow: 0px 0px 100px #393121 inset;
}
.priceBox h1 {
  padding: 10vh 2vh 2vh 2vh;
  font-size: 2.5rem;
  text-shadow: 0 0 5px #F3E5AB;
  font-weight: bold;
}
.priceBox li {
  list-style-type: none;
  font-size: 1.5rem;
}
.priceBox p.price-note {
  text-align: left;
  margin-top: 5vh;
}

.prices-border {
  margin: 0 auto;
  position: relative;
  top: 15vh;
  padding: 0;
  border-radius: 1rem;
  border: 1px solid #cabfb3;
  width: 60% !important;
  box-shadow: 0 0 10px black;
}

.reservation-label {
  z-index: 4;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2vh 0 8vh 0;
  font-size: 1rem;
  border: 6px solid #644c3a;
  border-top: none;
  border-bottom: none;
  box-shadow: 0px 0px 130px #393121 inset;
  color: #F3E5AB;
  text-shadow: 3px 3px 3px black;
}
.reservation-label hr {
  position: relative;
  width: 75%;
  margin: 0 auto;
  top: 2vh;
  border: none;
  border-top: 5px solid #393121;
  border-radius: 5px;
}
.reservation-label h2 {
  position: relative;
  top: 2vh;
  margin: 0 auto;
  font-size: 4vh;
  padding: 2vh 0;
}
.reservation-label p {
  font-size: 2vh;
  position: relative;
  top: 2.5vh;
  text-align: center;
  padding: 2vh 0;
}

.orderForm {
  z-index: -1;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  width: 60%;
  margin: 0 auto;
  padding: 10vh 2vh 2vh 2vh;
  background-image: linear-gradient(to top, rgba(202, 191, 179, 0.8666666667) 85%, transparent);
  z-index: 0;
  border: 6px solid #644c3a;
  border-top: none;
  box-shadow: 0px 0px 100px #393121 inset;
  font-size: 1rem;
}
.orderForm label.dates,
.orderForm input.dates {
  flex-direction: column;
  margin: 4vh 0px 1vh 0px;
  padding: 0vh;
  text-align: center;
  font-size: 1.5vh;
}
.orderForm label.dates:focus,
.orderForm input.dates:focus {
  text-align: center;
}
.orderForm input.dates {
  width: 45%;
}
.orderForm #dateStart:before {
  content: "Érkezés napja*";
  font-size: 2vh;
}
.orderForm #dateEnd:before {
  content: "Távozás napja*";
  font-size: 2vh;
}
.orderForm .reserve-date-icon {
  position: relative;
  top: 5vh;
  color: #644c3a;
  font-size: 3vh;
}
.orderForm a {
  text-decoration: none;
  color: #F3E5AB;
}
.orderForm input {
  width: 100%;
  background-color: rgba(202, 191, 179, 0.4117647059);
  border: 2px solid;
  border-color: #644c3a;
  transition: 250ms;
  font-size: 0.75rem;
}
.orderForm input:hover {
  box-shadow: 0px 0px 10px #644c3a;
  border-color: #F3E5AB;
}
.orderForm input:focus {
  transition: 250ms;
  background-color: rgba(202, 191, 179, 0.8666666667);
  border-color: #70643f !important;
  outline: none;
  box-shadow: 2px 1px 5px #644c3a inset;
  text-align: left;
}
.orderForm input[type=checkbox] {
  background-color: rgba(202, 191, 179, 0.8666666667);
  border: 2px solid #644c3a;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
}
.orderForm label {
  display: inline;
  padding-left: 0.5rem;
  text-align: left;
}
.orderForm label[for=guestNumber], .orderForm label[for=childNumber], .orderForm label[for=selected-apartman] {
  padding-right: 0px;
}
.orderForm .btn {
  background-color: #644c3a;
  border-color: #644c3a;
  color: #F3E5AB;
}
.orderForm .btn:hover {
  font-weight: bold;
  padding: 6px 8px 6px 8px;
  box-shadow: 0px 0px 10px #F3E5AB inset;
  border-color: #F3E5AB;
}
.orderForm .btn:active {
  color: #70643f;
  background-color: #cabfb3;
  border-color: #70643f;
  box-shadow: 0px 0px 15px #F3E5AB;
}
.orderForm select {
  font-size: 1rem;
  font-family: "cinzel";
  padding: 0 1vh;
  background-color: rgba(202, 191, 179, 0.4117647059);
  border: 2px solid;
  border-color: #644c3a;
  border-radius: 10px;
  transition: 300ms;
  margin-block: 5px;
}
.orderForm select:hover {
  box-shadow: 0px 0px 10px #393121 inset;
  border-color: #F3E5AB;
}
.orderForm select option {
  background-color: rgba(202, 191, 179, 0.8666666667);
  color: #644c3a;
  font-weight: 600;
}
.orderForm textarea {
  background-color: rgba(202, 191, 179, 0.4117647059);
  border: 2px solid;
  border-color: #644c3a;
}
.orderForm textarea:hover {
  box-shadow: 0px 0px 10px #644c3a;
  border-color: #F3E5AB;
}
.orderForm textarea:focus {
  background-color: rgba(202, 191, 179, 0.8666666667);
  outline: none;
  border: 2px solid;
  border-color: #644c3a;
  box-shadow: 0 0 5px #644c3a inset;
  text-align: left;
}

.toFooter {
  font-family: "Cinzel", Comic Sans MS;
  color: #cabfb3;
  z-index: 0;
  display: flex;
  position: sticky;
  justify-content: center;
  width: 100%;
  background-color: rgba(100, 76, 58, 0.937254902);
}
.toFooter ul {
  padding: 0;
}

.toFooter {
  z-index: 10;
  font-size: 1rem;
}
.toFooter .coordinates {
  font-size: 1rem;
  margin: 0;
}
.toFooter h5 {
  text-align: center;
  font-size: 1.5rem;
}
.toFooter li.list-item {
  list-style-type: none;
  text-align: center;
  padding: 6px;
}
.toFooter li.list-item a {
  text-wrap: nowrap;
  text-decoration: none;
  color: #cabfb3;
  padding: 0px 1vw 0px 1vw;
  border-radius: 20px;
}
.toFooter li.list-item a h5 {
  text-align: center;
}
.toFooter li.list-item a:hover {
  color: #F3E5AB;
  border-color: #F3E5AB;
  transition: 500ms;
  box-shadow: 0 0 5px #F3E5AB;
}
.toFooter li.list-item img {
  height: 18vh;
  border-radius: 50%/20%;
  border: 3px #644c3a solid;
}
.toFooter hr {
  width: 60%;
  margin: 0rem auto;
  border: none;
  border-top: 1px solid #cabfb3;
}

.footer-index {
  user-select: none;
  font-family: "Cinzel", Comic Sans MS;
  color: #F3E5AB;
  z-index: 11;
  height: 4vh;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1rem 0rem 0rem 5vw;
  background-color: #644c3a;
}
.footer-index .footerText {
  text-wrap: nowrap;
  text-align: left;
  font-size: 70%;
}

div.spacer-line {
  height: 2vh;
  border-bottom: 1px solid grey;
  width: 100%;
}

.big-modal {
  top: 4vh;
  background-color: transparent;
  border: none;
}
.big-modal img {
  margin: 0 auto;
  width: 75%;
  border-radius: 10px;
  box-shadow: 0 0 10px wheat;
}

div.sights-footer-spacer {
  height: 595vh;
  background: transparent;
}

@media only screen and (min-width: 1921px) {
  .mainLogo {
    padding-left: 17%;
  }
  .indexBox {
    padding-left: 4vw;
  }
  .indexBox img.img-outside {
    width: 28% !important;
  }
  .prices-border {
    width: 50% !important;
  }
}
@media only screen and (max-width: 1920px) {
  .mainLogo {
    padding-left: 9%;
  }
  .indexBox {
    width: 80%;
  }
  .indexBox img.img-outside {
    width: 50%;
  }
}
@media only screen and (min-width: 1401px) {
  .carousel-gallery,
  .carousel-upstair,
  .carousel-ground,
  .carousel-garden {
    top: 15vh;
    width: 70vw;
  }
  .carousel-gallery img,
  .carousel-upstair img,
  .carousel-ground img,
  .carousel-garden img {
    height: 75vh;
  }
  li.nav-item a.facebook,
  li.nav-item a.tiktok,
  li.nav-item a.messenger {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 1400px) {
  .mainLogo {
    padding-left: 4vw;
  }
  .carousel-gallery,
  .carousel-upstair,
  .carousel-ground,
  .carousel-garden {
    top: 15vh;
    width: 80vw;
  }
  .carousel-gallery img,
  .carousel-upstair img,
  .carousel-ground img,
  .carousel-garden img {
    height: 75vh;
  }
  li.nav-item a.facebook,
  li.nav-item a.tiktok,
  li.nav-item a.messenger {
    padding: 0 !important;
  }
}
.prices-border {
  width: 70%;
}

@media only screen and (max-width: 1200px) {
  .mainLogo {
    padding-left: 2vw;
  }
  .carousel-gallery .carousel-inner {
    height: 80vh;
  }
  .carousel-gallery .carousel-inner .carousel-item img.pic-h {
    margin: 2rem auto;
    padding: 0;
    width: 50%;
    height: 80vw !important;
  }
  .carousel-gallery .carousel-inner .carousel-item img.pic-w {
    margin: 2rem auto;
    padding: 0;
    width: 90%;
    height: 56vw !important;
  }
  .carousel-upstair,
  .carousel-ground,
  .carousel-garden {
    top: 15vh;
    width: 90%;
  }
  .indexBox {
    width: 80%;
  }
  .indexBox div.reserve {
    padding-top: 1vh;
    padding-left: 12%;
  }
  .prices-border {
    width: 80% !important;
  }
}
@media only screen and (max-width: 992px) {
  .mainLogo {
    display: none;
  }
  .nav-item {
    width: 50%;
  }
  .reservation {
    width: 50%;
  }
  .reservation a {
    padding: 1rem 0rem 1rem 0rem !important;
  }
  .carousel-gallery,
  .carousel-upstair,
  .carousel-ground,
  .carousel-garden {
    top: 14vh;
    width: 90%;
  }
  .carousel-gallery img,
  .carousel-upstair img,
  .carousel-ground img,
  .carousel-garden img {
    height: 50vw;
  }
  .indexBox {
    width: 90%;
    text-align: center;
    padding: 6vw;
  }
  .indexBox img.img-outside {
    width: 95% !important;
    border-radius: 90% 10% 99% 1%/30% 98% 2% 70%;
  }
  li.nav-item a.facebook,
  li.nav-item a.tiktok,
  li.nav-item a.messenger {
    font-size: 2vw;
    padding: 0.5rem 0 !important;
  }
  li.nav-item a.facebook:hover,
  li.nav-item a.tiktok:hover,
  li.nav-item a.messenger:hover {
    font-size: 2vw;
    padding: 0.5rem 1rem !important;
  }
  .facebook::after {
    content: " Facebook";
  }
  .tiktok::after {
    content: " TikTok";
  }
  .messenger::after {
    content: " Messenger";
  }
  .text {
    font-size: 2vw;
  }
  .text:hover {
    font-size: 2vw;
  }
  section div.gdprBox {
    font-size: 1rem;
    width: 100vw;
  }
  .serviceBox {
    width: 100%;
    margin: 0 auto;
  }
  section div.rulesBox {
    width: 100%;
  }
  div.sightsBox {
    width: 80%;
  }
  .orderForm {
    flex-direction: column;
    align-items: center;
  }
  .gmap {
    width: 75%;
  }
}
@media only screen and (max-width: 767px) {
  .indexBox {
    border-radius: 93% 7% 96% 4%/9% 93% 7% 91%;
    padding: 0 6vw;
  }
  .indexBox img.img-outside {
    width: 100%;
    border-radius: 96% 4% 99% 1%/30% 98% 2% 70%;
  }
  .indexBox span.emp-bottom {
    font-size: 1.5rem;
    padding: 1vh 0 5vh 0;
  }
  .indexBox div.reserve {
    border-radius: 22% 78% 93% 7%/15% 75% 25% 85%;
    padding-top: 1vh;
    margin-bottom: -2vw;
    padding-left: 10%;
  }
  .carousel-gallery,
  .carousel-upstair,
  .carousel-ground,
  .carousel-garden {
    top: 15vh;
    width: 98%;
  }
  .carousel-gallery img,
  .carousel-upstair img,
  .carousel-ground img,
  .carousel-garden img {
    height: 58vw;
  }
  .carousel-gallery h4,
  .carousel-upstair h4,
  .carousel-ground h4,
  .carousel-garden h4 {
    font-size: 3vh;
    padding-bottom: 2vh;
  }
  .carousel-gallery p,
  .carousel-gallery ul,
  .carousel-upstair p,
  .carousel-upstair ul,
  .carousel-ground p,
  .carousel-ground ul,
  .carousel-garden p,
  .carousel-garden ul {
    font-size: 2vh;
    padding: 0px 5vh;
  }
  li.nav-item a.facebook,
  li.nav-item a.tiktok,
  li.nav-item a.messenger {
    font-size: 2vw;
    padding: 0.5rem 0 !important;
  }
  li.nav-item a.facebook:hover,
  li.nav-item a.tiktok:hover,
  li.nav-item a.messenger:hover {
    font-size: 2vw;
    padding: 0.5rem 1rem !important;
  }
  .toFooter hr {
    width: 100%;
  }
  .gmap {
    top: 10vh;
    margin: 1rem;
  }
  .gmap iframe {
    width: 90%;
    height: 40vh;
  }
}
@media only screen and (max-width: 670px) {
  .carousel-gallery,
  .carousel-upstair,
  .carousel-ground,
  .carousel-garden {
    top: 16vh;
    width: 80%;
  }
  .carousel-gallery img,
  .carousel-upstair img,
  .carousel-ground img,
  .carousel-garden img {
    height: 74vh;
  }
  .carousel-gallery h4,
  .carousel-upstair h4,
  .carousel-ground h4,
  .carousel-garden h4 {
    font-size: 3vh;
    padding-bottom: 2vh;
  }
  .carousel-gallery p,
  .carousel-gallery ul,
  .carousel-upstair p,
  .carousel-upstair ul,
  .carousel-ground p,
  .carousel-ground ul,
  .carousel-garden p,
  .carousel-garden ul {
    font-size: 1rem;
    padding: 0px 2vh;
  }
}
.prices-border {
  width: 90%;
}

@media only screen and (max-width: 576px) {
  .indexBox {
    font-size: 3vw;
    width: 98%;
    border: 10px solid #644c3a;
    outline: 5px solid rgba(202, 191, 179, 0.7254901961);
    text-align: center;
  }
  .indexBox img.img-outside {
    width: 100%;
    margin: 8vh 0 4vh 0;
    border-radius: 96% 4% 99% 1%/30% 98% 2% 70%;
    margin-top: 5vh;
    animation: pulsingShadow 4000ms infinite;
    transform: rotateZ(-1deg);
  }
  @keyframes pulsingShadow {
    50% {
      box-shadow: 1px 5px 10px #F3E5AB;
    }
  }
  .indexBox span.emp-bottom {
    text-align: center;
    display: block;
    font-size: 1.2rem;
    padding: 1vh 0 5vh 0;
  }
  .reservation-label {
    height: 16vh;
    padding: 5vh 14px 25vh 14px;
  }
  li.nav-item a {
    font-size: 2vh;
  }
  li.nav-item a:hover {
    font-size: 2vh;
    padding: 0.5rem 1rem;
  }
  li.nav-item a .fa-facebook,
  li.nav-item a .fa-tiktok,
  li.nav-item a .fa-facebook-messenger {
    font-size: 2vh;
  }
  .nav-link a {
    width: 100%;
  }
  ul .dropdown-menu {
    padding: 0;
  }
  ul .dropdown-menu .dropdown-item {
    width: 100% !important;
  }
  ul .dropdown-menu .dropdown-item:hover {
    padding: 4px 0 4px 0 !important;
  }
  .reservation {
    width: 100%;
  }
  .reservation a:hover {
    padding: 1rem 0 !important;
  }
  .facebook::after {
    content: " Facebook";
    font-size: 2vh;
  }
  .tiktok::after {
    content: " TikTok";
    font-size: 2vh;
  }
  .messenger::after {
    content: " Messenger";
    font-size: 2vh;
  }
  .carousel-upstair,
  .carousel-ground,
  .carousel-garden {
    top: 14vh !important;
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
  .carousel-upstair h4,
  .carousel-ground h4,
  .carousel-garden h4 {
    font-size: 3vh;
    padding-bottom: 2vh;
  }
  .carousel-upstair img,
  .carousel-ground img,
  .carousel-garden img {
    height: 60% !important;
    width: 100%;
  }
  .carousel-upstair p,
  .carousel-upstair ul,
  .carousel-ground p,
  .carousel-ground ul,
  .carousel-garden p,
  .carousel-garden ul {
    font-size: 2vh;
    padding: 0px 2vh;
    text-align: left;
  }
  .carousel-ground p,
  .carousel-ground ul {
    width: 100%;
    list-style-type: none;
    margin: 0vh auto;
    padding: 0px 2vh;
    text-align: left;
  }
  .carousel-gallery .carousel-inner {
    height: 80vh;
  }
  .carousel-gallery .carousel-inner .carousel-item img.pic-h {
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0;
    width: 85%;
    height: 70vh !important;
  }
  .carousel-gallery .carousel-inner .carousel-item img.pic-n {
    top: 10px;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0;
    width: 70%;
    height: 70vw !important;
  }
  .carousel-gallery .carousel-inner .carousel-item img.pic-nf {
    top: 10px;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 0;
    width: 86%;
    height: 50vh !important;
  }
  .carousel-gallery .carousel-inner .carousel-item img.pic-w {
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0;
    width: 90%;
    height: 60vw !important;
  }
  .prices-border,
  .serviceBox {
    width: 98% !important;
  }
  section div.gdprBox,
  section div.rulesBox {
    width: 98% !important;
    background-image: linear-gradient(to bottom, transparent, rgba(202, 191, 179, 0.8666666667) 15% 95%, transparent);
    border: none;
    outline: none;
    border-radius: 0;
    top: 0;
    padding-top: 10vh;
  }
  section div.gdprBox p,
  section div.rulesBox p {
    text-align: center;
  }
  section div.gdprBox span.span-thx,
  section div.rulesBox span.span-thx {
    font-size: 3vh;
    text-align: center;
  }
  section div.gdprBox ol,
  section div.rulesBox ol {
    list-style-position: inside;
    padding-inline-start: 2rem;
  }
  section div.gdprBox ol li,
  section div.rulesBox ol li {
    padding: 0rem 2rem 0 1rem;
  }
  .gmap {
    top: 0vh;
    z-index: 5;
    margin: 0;
    width: 98% !important;
    border-radius: 0;
  }
  .gmap iframe {
    border: none;
    width: 100% !important;
    height: 75vh;
    border-radius: 0;
  }
  .priceBox h1 {
    font-size: 4vh;
  }
  .priceBox li {
    font-size: 2.5vh;
  }
  .reservation-label p {
    display: block;
    margin-bottom: 2000px;
  }
  div.sightsBox {
    padding: 5px;
    border-radius: 1rem;
    width: 98%;
  }
  div.sightsBox p.sights {
    width: 100%;
  }
  div.sights-footer-spacer {
    height: 465vh;
    background: transparent;
  }
  .toFooter {
    font-size: 1rem;
  }
  .toFooter .coordinates {
    font-size: 1rem;
  }
  .footer-index {
    height: 5vh;
  }
  .scroll-top-btn {
    bottom: -1vh;
    right: 0;
    font-size: 1.9rem;
  }
  @keyframes scrollUp {
    0% {
      bottom: 5vh;
      opacity: 0;
    }
    100% {
      opacity: 1;
      bottom: -1vh;
    }
  }
  .btn-res-animation {
    animation: none;
  }
}
.carousel-fade,
.carousel-item {
  transition: 400ms !important;
}

/*# sourceMappingURL=indBS.css.map */
