@use '../styles/colors';
@use '../styles/fonts';

@use '../styles/navbar';
@use '../styles/snowFall';

@use '../styles/indexBox';
@use '../styles/serviceBox';
@use '../styles/sightsBox';
@use '../styles/priceBox';
@use '../styles/gdprBox';
@use '../styles/reservation-label';
@use '../styles/rulesBox';

@use '../styles/footer';

@use '../styles/carousel-gallery';
@use '../styles/carousel-upstair';
@use '../styles/carousel-ground';
@use '../styles/carousel-garden';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body.modal-open {
    overflow-y: scroll !important;
    padding-right: 0 !important;
}

#gmap {
    text-shadow: 2px 3px 5px colors.$Vanilla;
}

.gmap {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    top: 17vh;
    width: 60%;
    z-index: 3;

    iframe {
        outline: 2px solid colors.$AshA1;
        width: 100%;
        height: 70vh;
        box-shadow: 0 0 10px black;

    }
}

.lilgmap {
    padding-top: 1vh;

    iframe {
        border-radius: 1rem;
        width: 80%;
        height: 30vh;
        border: 3px solid colors.$Millbrook;
    }
}



.carousel-fade,
.carousel-item {
    transition: 400ms !important;
}


//------------------------------------- ANIMATION ---------------------------------------------
.animation {
    position: relative;
    animation: showContent 2000ms ease-out;

    @keyframes showContent {
        0% {
            opacity: 0;
            top: -200px;
            filter: blur(0px)
        }

        50% {
            opacity: 0;
            filter: blur(10px)
        }

        100% {
            opacity: 1;
            top: 0;
            filter: blur(0px)
        }
    }
}

// ------------------------------------- MEDIA QUERRIES --------------------------------------


@media only screen and (max-width: 1200px) {

    .prices-border {
        width: 80% !important;
    }
}



@media only screen and (max-width: 768px) {

    .gmap {
            height: 60vh;
            width: 99%;
    }
}

@media only screen and (max-width: 576px) {

    .prices-border {
        width: 98% !important;
    }

    .gmap {
        top: 0vh;
        margin: 0;
        width: 98% !important;
        border-radius: 0;

        iframe {
            border: none;
            width: 100% !important;
            height: 75vh;
            border-radius: 0;
        }
    }
}