@use '../styles/colors';

@use '../styles/navbar';
@use '../styles/snowFall';

@use '../styles/indexBox';
@use '../styles/serviceBox';
@use '../styles/sightsBox';
@use '../styles/priceBox';
@use '../styles/gdprBox';
@use '../styles/reservation-label';
@use '../styles/rulesBox';

@use '../styles/footer';

@use '../styles/carousel-gallery';
@use '../styles/carousel-upstair';
@use '../styles/carousel-ground';
@use '../styles/carousel-garden';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    scroll-behavior: smooth;
}
// Árak/Foglalás menüpont
.btn-res-animation {
    scale: 1.0;
    box-shadow: 0 0 10px colors.$Millbrook;
    animation: pulse 3000ms ease-in-out infinite;
    filter: blur(0px);

    @keyframes pulse {
        50% {
            scale: 1.1;
            color: colors.$Vanilla;
        }
    }
}

.text {
    font-weight: bold;
    font-family: colors.$Basic-font;
    font-size: 2vh;

    &:hover {
        transition: 200ms;
        font-weight: bold;
        text-shadow: 0px 0px 10px colors.$Vanilla;
    }
}

#gmap {
    text-shadow: 2px 3px 5px colors.$Vanilla;
}

.gmap {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    top: 17vh;
    width: 60%;
    z-index: 3;

    iframe {
        outline: 2px solid colors.$AshA1;
        width: 100%;
        height: 70vh;
        box-shadow: 0 0 10px black;

    }
}

.lilgmap {
    padding-top: 1vh;

    iframe {
        border-radius: 1rem;
        width: 80%;
        height: 30vh;
        border: 3px solid colors.$Millbrook;
    }
}

div.spacer-line {
    height: 2vh;
    border-bottom: 1px solid grey;
    width: 100%;
}

.big-modal {
    top: 4vh;
    background-color: transparent;
    border: none;

    img {
        margin: 0 auto;
        width: 75%;
        border-radius: 10px;
        box-shadow: 0 0 10px wheat;
    }
}

.carousel-fade,
.carousel-item {
    transition: 400ms !important;
}


// ------------------------------------- MEDIA QUERRIES --------------------------------------


@media only screen and (max-width: 1200px) {

    .prices-border {
        width: 80% !important;
    }
}



@media only screen and (max-width: 768px) {

    .gmap {
        top: 10vh;
        margin: 1rem;

        iframe {
            width: 90%;
            height: 40vh;
        }
    }
}

@media only screen and (max-width: 576px) {

    .prices-border {
        width: 98% !important;
    }

    .gmap {
        top: 0vh;
        margin: 0;
        width: 98% !important;
        border-radius: 0;

        iframe {
            border: none;
            width: 100% !important;
            height: 75vh;
            border-radius: 0;
        }
    }

    .btn-res-animation {
        animation: none;
    }

}